* {
    box-sizing: border-box;
    margin: 0;
    color: black;
    font-size: 18px;
    font-weight: 100;
}

body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: 130px 1fr 40px;
}

/* essentials */

header {
    background-color: black;
}

.headerPart {
    display: flex;
    justify-content: center;
}

.headerWriting {
    margin-top: 20px;
}

.headerTop {
    font-size: 45px;
    letter-spacing: 45px;
    color: white;
}

.headerBottom {
    font-size: 16px;
    font-style: italic;
    letter-spacing: 6px;
    color: white;
}

main {
    background-image: url("main.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: white;
}

footer {
    background-color: black;
    color: white;
    font-style: italic;
}

.logo {
    width: 50px;
    height: 50px;
}

/* Main Parts */

.userForm {
    margin-top: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.regInputs {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 45px;
    margin: 25px;
    background: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-color: white;
}

.regButton {
    width: 170px;
    height: 30px;
    border-radius: 20px;
    background-color: rgb(14, 255, 219);
    color: rgb(170, 80, 255);
}

.errorMsg {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 28px;
}

.loginMsg {
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    color: white;
    font-size: 20px;
}

/* .profile {
    float: right;
    display: flex;
    flex-direction: column;
} */

.profile-pic {
    width: 75px;
    height: 75px;
    margin-right: 20px;
}

.profilebig {
    float: right;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

img {
    width: 250px;
    height: 250px;
}

.profileName {
    font-size: 22px;
}

.uploader-text {
    border: 2px yellow solid;
    background-color: green;
    width: 400px;
    height: 150px;
}
