* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: 70px 1fr 40px;
}

/* essentials */

header {
    background-color: rgb(0, 0, 0);
}

.headerTop {
    font-size: 90px;
    letter-spacing: 32px;
    text-align: center;
    color: white;
}

.headerBottom {
    position: relative;
    font-size: 16px;
    font-style: italic;
    letter-spacing: 12px;
    text-align: center;
    z-index: 10;
    color: white;
}

main {
    background-image: url("coolcat.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgb(0, 0, 0);
}

footer {
    background-color: rgb(0, 0, 0);
    color: white;
    font-style: italic;
}

.logo {
    width: 75px;
    height: 75px;
    margin-left: 15px;
    margin-top: 5px;
}

/* Main Parts */

.regInputs {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 45px;
    margin: 40px;
}
